* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(233, 100%, 98%);
  font-family: 'Roboto', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #000;
}

h1, h3 {
  font-family: 'Merriweather', serif;
}

h1 {
  letter-spacing: 1px;
  padding: 20px 0;
  text-align: center;
}

.yellow {
  color: hsl(53, 75%, 65%);
}

h3 {
  line-height: 22px;
}

h5 {
  color: #666;
  line-height: 20px;
}

button {
  background: #e9d962;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 10px 30px;
  margin: 0 5px;
}

button:hover {
  background: #ede3a6;
}

ul {
  list-style-type: none;
  font-size: 14px;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.article-number {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding-left: 20px;
}

.article-text-box p {
  line-height: 120px;
  padding: 5px 5px;
}

.article-box {
  width: calc(25% - 10px);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
          box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  margin: 5px;
  height: 315px;
  position: relative;
}

.article-box:hover {
  -webkit-box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
          box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  -webkit-transform: translate3D(0, -2px, 0);
          transform: translate3D(0, -2px, 0);
}

.article-text-box {
  height: auto;
  overflow: hidden;
  padding: 10px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.article-img-box {
  height: 170px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.article-img-box img {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 70px 0;
  margin-top: 50px;
}

.footer-logo {
  margin: 10px 0;
  width: 80px;
}

.article-info{
display: flex;
flex-direction: row;
justify-content: center;
position: absolute;
bottom: 10px;
right: 10px;
}

#article-popup {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
}

.article-img-box-pop img {
  display: block;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

}

.article-img-box-pop {
  display: block;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  height: 70%;
  overflow: hidden;

}

.article-text-box-pop {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding right: 5px;

}

.article-text-box-pop h3 {

font-family: 'Merriweather', serif;
letter-spacing: 1px;
padding: 20px 0;
font-size: 30pt;
line-height: 50px;

}

.article-text-box-pop h5 {

font-family: 'Merriweather', serif;
letter-spacing: 1px;
padding: 20px 0;
font-size: 10pt;
}


.article-box-pop {
height: 95%;

}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 90px;
}

.open {

height: 25px;
float: right;

}

.article-box-pop {
  width: calc(100% - 10px);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
          box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  margin: 5px;
}

@media (max-width: 600px) {
  .article-box {
    width: calc(100% - 10px);
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .article-box {
    width: calc(50% - 10px);
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .article-box {
    width: calc(33.33% - 10px);
  }
}
