* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.article-box h2 {
  padding: 0 10px;
}

p {
  color: #000;
  font-weight: initial;
  padding: 0 10px;
}

.article-box img {
  width: 100%;
}


.container {
  width: 100%;
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #eef8f9;
}

.article-box {
  width: calc(25% - 5px);
  background-color: white;
  border: 1px solid black;
  margin: 2.5px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .article-box {
    width: calc(50% - 5px);
  }
}
